
@{
    ViewBag.Title = "BookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var book_detail = ViewBag.book_detail;
    var reviews = ViewBag.reviews;
    var point = ViewBag.point;
}
<div class="tieude">
    Trang chủ > &nbsp;&nbsp;Sách bán chạy nhất > &nbsp;&nbsp;@book_detail._name
</div>
<div class="content-sach">
    <img style="float: left;" width="280" height="400" src="~/Image_Data/@book_detail._img" alt="@book_detail._name">
    <div style="height: 30px; width: 300px;position: absolute;margin-top: 440px;margin-left: 35px;">
        <a href="#">>>Xem chi tiết cuốn sách<<</a>
    </div>
    <div class="noidungmuasach">
        <div style="height:250px;border-bottom: 1px dashed #ddd;width: auto;">
            <h1>@book_detail._name</h1>
            <b>Tác giả: </b><a href="#">@book_detail._author</a>
            <p><b>Xuất bản:</b> @book_detail._year_of_creation</p>
            <p><b>Nhà xuất bản: </b>@book_detail._producer</p>
            <p><b>Nhà phát hành: </b>Quảng Văn</p>
            <p><b>Dạng bìa: </b>Mềm</p>
            <p><b>Kích thước: </b>13.5 x 20.5 cm</p>
            <p><b>Khối lượng: </b>@book_detail._weight gram</p>
            <p><b>Số trang: </b>@book_detail._pages</p>
        </div>
        <div style="border-bottom: 1px dashed #ddd; height: 135px;">
            <p style="font-size: 15px;padding-top: 10px;line-height: 1.8em; font-family:inherit; ">@book_detail._content</p>
        </div>
        <div>
            <h3 style="border: none; padding-top: 5px; font-weight: 600; color: #555;">Thông tin kèm theo</h3>
        </div>
        <div id="check">
            <img src="~/Image_System/book_details/dot_check.png" alt="" />
            Có dịch vụ bọc sách plastic cao cấp cho sách này
        </div>
        <div id="check">
            <img src="~/Image_System/book_details/dot_check.png" alt="" />
            Miễn phí giao hàng toàn quốc cho Đơn hàng từ 250.000đ <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Áp dụng từ 1/2/2015. <a href="#">Xem chi tiết</a>)
        </div>
    </div>
    <br>
    <div class="giatien">
        <h2>Thông tin thanh toán</h2>
        <h5>
            Giá bìa :
        </h5>
        <span style="text-decoration: line-through; font-size: 19px;">@book_detail._price Đ</span>
        <h5>
            Giá bán :
        </h5>
        <span style="color: #ff3333; font-size: 21px;">@book_detail._price Đ</span>
        <div id="gach">
            <h5>
                Tiết kiệm :
            </h5>
            <span style="color: forestgreen;">7.000 Đ</span>
        </div>
        <div class="dathang">
            <a class="tienhanhdathangtes" onclick="TienHanhDatHang(@book_detail._id)" href="~/Cart/Cart">Tiến Hành Đặt Hàng</a>

        </div>
    </div>
</div>
<div class="nhanxet">
    <h2 style="height: 45px;">Khách hàng nhận xét</h2>
    <!-- begin rating -->


    @foreach (var review in reviews)
    {
        <div class="ndnx">

            <span style="font-family: inherit;color: #000;font-weight: 700;line-height: 2em;">Một cuốn sách tuyệt vời </span>&nbsp;&nbsp;
            <div style="display: inline-block;" class="rating-box">
                <div style="width: @review._rating%;" class="rating"></div>

            </div>
            <br>

            <p style="line-height: 3em;">Nhận xét bởi <a href="#">@review._name_customer</a> vào ngày @review._date</p>
            <p>@review._comment</p>
        </div>
    }


</div>
<div class="note">
    <div class="control-rating" id="720">
        <div class="box-star-score pull-left">
            @point
        </div>
        <div class="box-until">
            <div class="row-rating">
                <p class="pull-left">Đánh giá:</p>
                <div class="star-rating pull-left">
                    <input id="rate1" type="radio" value="1" />
                    <input id="rate1" type="radio" value="2" />
                    <input id="rate3" type="radio" value="3" />
                    <input id="rate4" type="radio" value="4" />
                    <input id="rate5" type="radio" value="5" />

                </div>

                <p class="pull-left">
                    <span id="fffff" class="score-vote">
                        0
                    </span>
                    /5
                </p>
            </div><br />
            <div class="row-score">
                <span onclick="listRating(this);" style="cursor: pointer;">
                    Điểm: <span class="total-score">@point</span>/5
                </span>
                <span class="pull-right num-user-rating hidden" onclick="listRating(this);">
                </span>
            </div>
        </div>
    </div>
    <!-- end rating -->  <br>
    <span style="color:#007fff;font-family:'Noto Sans', sans-serif;">Trọng Trần </span>
    <input id="comment" type="text" style="margin-left:10px;height:30px;width:400px;padding:2px 12px;border-radius:20px;border:1px solid #ccc;" placeholder="Viết bình luận..." />
    <input id="submit" type="button" value="Đăng" />
</div>
<script>
    var checkpoint;
    //function Review(point) {
    //    console.log(point);
    //}

    function TienHanhDatHang(id) {
        var formData = new FormData();
        formData.append("product", id);
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("post", "/Cart/CreatDataCart", false); // false for synchronous request
        xmlHttp.send(formData);
        return xmlHttp.responseText;
    }


    $(function Review(id) {

        $('.star-rating').rating(function () {

        });
        
        $('.star-rating').click(function () {
            var value = document.getElementById("fffff").innerHTML;
            console.log(value);
            var s = document.getElementById('rate5').style;
            s.background = "url(../../Image_System/book_details/saovang.png)";
        });

    });
</script>

@section css_link{
    <link href="~/Content/css/chitietcuonsach/sachbanchaynhat1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/newcss.css" rel="stylesheet" type="text/css" />
}
